body {
            background-image: url('imgs/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .pricing-cotainer {
            position: fixed;
            left: 50%;
            margin-left: -400px;
            top: 30%;
            width: 60%;
            height: 60%;
            padding: 40px;
            background-color: rgb(40, 40, 54,0.7)
        }

        .plan-card{
            background-color: #282836;
            cursor: pointer;
        }

        .selected-plan{
            background-color: #2f3b52;
            border-color: #4760bf;
            margin: 5px;
            border-width: 2px;
        }

        .heading{
            color: white;
            text-align: center;
        }

        .card-text{
            color: aliceblue;
        }

        .card-deck{
            margin-top: 10%;
        }